<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.ico}"/>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div>기본 페이지에 판매할 상품 노출</div>
    <ul th:each="product : ${list}">
        <li>
            <div>- name : <span th:text="${product.name}"></span></div>
            <div>- category : <span th:text="${product.category}"></span></div>
            <div>- price : <span th:text="${product.price}"></span></div>
            <img th:src="@{${product.image}}" alt="product image" width="200px"/>
        </li>
    </ul>
    </body>
</html>